################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Capstone_Group2/.vs/Capstone_Group2/FileContentIndex/3b96d2a8-7482-4750-894d-777dda4dda72.vsidx
/Capstone_Group2/.vs/Capstone_Group2/FileContentIndex/3b96d2a8-7482-4750-894d-777dda4dda72.vsidx
/Capstone_Group2/.vs/Capstone_Group2/FileContentIndex/3b96d2a8-7482-4750-894d-777dda4dda72.vsidx
/Capstone_Group2/.vs/Capstone_Group2/FileContentIndex/3b96d2a8-7482-4750-894d-777dda4dda72.vsidx
