@model TimetableTask

@{
    ViewData["Title"] = "Delete Task Confirmation";
}


<div class="confirmation-container">
    <h1>@ViewData["Title"]</h1>

    <p>Are you sure you want to delete the following task?</p>
    <p><strong>@Model.TaskName</strong> (Due Date: @Model.End_Date.ToString())</p>

    <form asp-controller="Task" asp-action="ProcessDeleteRequestById" asp-route-id="@Model.TaskId" class="button-form" method="post" enctype="application/x-www-form-urlencoded">
        <button type="submit" class="btn btn-danger">Confirm Deletion</button>
        <a asp-controller="Task" asp-action="GetAllTasks" class="btn btn-secondary">Cancel</a>
    </form>
</div>